.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7e4b8;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: white;
}

.cardItem {
  height: 500px;
  width: 400px;
}

.cardImg {
  background-image: url('/images/background.avif');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cardForm {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}